body {
    background-color: #F5F5FA !important;
    font-family: "Nunito", "sans" !important;
}
/* ISI */
.profile {
    margin-top: 30px;
}

.profile-info {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}

.profile-info img {
    height: auto;
    width: 150px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 2px solid black;
}

.profile-posts img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.judul {
    margin-top: 50px;
    font-weight: 100px;
}
.nama-lengkap {
    margin-bottom: 0px;
    font-weight: 400;

}

.email {
    font-size: small;
    margin-bottom: 0.3rem;
}

/* NAVIGASI */
.navbar {
    background-color: rgb(255, 255, 255);
    height: 65px;
}

@media only screen and (max-width: 991px) {
    .navbar .container-fluid {
        margin-top: -17px;
    }
}

.pas {
    display: flex;
    justify-content: end;
}

.pas {
    display: flex;
    justify-content: end;
}

.ukur {
    width: 80%;
}

.logo-img {
    width: 200px;
    height: auto;
}


.page-title-container {
    min-width: 150px;
    cursor: pointer !important;
}

.page-title {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'poppins';
    display: flex;
    align-items: center;
}
.page-title.edit, .page-title.edit:hover{
    text-decoration: none !important; 
}

.page-title-container.edit{
    cursor: auto !important;
}

.page-title:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    margin-top: 0px;
}

.page-title:hover i {
    margin-top: 0px;
}

.page-title i {
    font-size: 1.35rem;
    margin-top: -5px;
    transition: margin .2s ease-in-out;
}

@media only screen and (max-width: 560px) {
    .page-title i {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .page-title i {
        font-size: 1rem;
    }

    .page-title {
        font-weight: 600;
    }
}


@media only screen and (max-width: 560px) {
    .navbar {
        height: auto;
    }

    .navbar-brand {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .navbar-brand img {
        margin-left: 10%;
        border-bottom: 2px solid #000000;
    }

    .page-title-container {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    .page-title {
        font-weight: 500;
    }
}

.profil-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profil-img1{
    width: 200px !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-menu {
    background-color: white;
    border: none;
}

.dropdown-toggle:hover {
    cursor: pointer;
}

.dropdown-toggle,
.dropdown-toggle.btn.show,
.dropdown-toggle.btn:first-child:active,
.dropdown-toggle.btn.active,
.dropdown-toggle.btn-check:checked+.btn,
:not(.btn-check)+.btn:active {
    border: none !important;
}

.dropup:hover {
    cursor: pointer !important;
}

.dropdown-menu a {
    color: #000000;
}

.dropdown-menu a:hover {
    background-color: white;
    color: grey;
}

.dropdown-toggle:hover .profil-img,
.dropdown-toggle:active .profil-img {
    border: 1px groove #000000 !important;
}

/* ISI */
@media (max-width: 465px) {
    .profile-info {
        flex-direction: column;
        align-items: center;
    }
    .profile-info {
        flex-direction: column;
        align-items: center;
    }
    
    .profile-info img{
        max-width: 100%; 
        height: auto;
        margin-bottom: 10px;
    }
    .profile-info .col-8 {
        text-align: center;
    }
    .profile-posts .col-4 {
        width: 33%;
        margin-bottom: 15px;
    }
    .btn.btn-danger{
        width: 100% !important;
        border-radius: 10px !important;
    }
}

/* MODAL */
.modal-content {
    background-color: hsl(240, 15%, 11%, 90%) !important;
    color: hsl(0, 0%, 100%, 95%) !important
}

.modal-content .modal-header,
.modal-header {
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.modal-content .modal-body {
    padding-bottom: 0px;
}

.modal-content .modal-footer {
    border-top: 0px;
    padding-top: 0px;
}

#albumName,
#albumDescription {
    background-color: hsl(240, 33%, 97%, 95%);
}

.addfoto {
    position: relative;
    overflow: hidden;
}

.addFoto:hover #gambar-preview ,#gambar-preview {
    width: 200px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    max-height: auto;
    opacity: 0.7;
    padding: 5px;
    border-radius: 50%;
    transition: all 0.3s ease;
    border: 2px dashed grey;
}

#gambar {
    display: none;
}


@media only screen and (min-width: 1059px) {
    .addfoto h2{
        width: 100%;
        left: 75%;
    }
}

@media only screen and (max-width: 431px) {
    .addfoto h2{
        transform: translate(-25%, -50%);
    }
}


.row .btn-plus {
    background-color: #DC3535;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btn-plus i {
    color: #FFFFFF;
    font-size: 24px;
}

.btn-plus:hover {
    background-color: grey;
    transform: scale(1.1);
}

.album-plus {
    display: flex;
    justify-content: center;
    align-items: center;
}



.gambar img{
    border-radius: 20px;
}

.profile-posts .col-4 {
    margin-bottom: 15px;
}

